In [1]:
# Import SQL Alchemy
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import sessionmaker
import pandas as pd

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

In [3]:
cleaned_measurements_df = pd.read_csv('Instructions/Resources/cleaned_measurements_df.csv')
cleaned_measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [4]:
stations_df = pd.read_csv('Instructions/Resources/hawaii_stations.csv')
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [5]:
class Measurement(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Integer)
    tobs = Column(Integer)

class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [6]:
Base.metadata.create_all(conn)

In [7]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [8]:
# # Set up of the table in db and the file to import
# fileToRead = 'Instructions/Resources/cleaned_measurements_df.csv'
# tableToWriteTo = 'measurements'

# # Panda to create a lovely dataframe
# df_to_be_written = pd.read_csv(fileToRead)
# # The orient='records' is the key of this, it allows to align with the format mentioned in the doc to insert in bulks.
# listToWrite = df_to_be_written.to_dict(orient='records')

# metadata = sqlalchemy.schema.MetaData(bind=engine,reflect=True)
# table = sqlalchemy.Table(tableToWriteTo, metadata, autoload=True)

# # Open the session
# Session = sessionmaker(bind=engine)
# session = Session()

# # Inser the dataframe into the database in one bulk
# conn.execute(table.insert(), listToWrite)

# # Commit the changes
# session.commit()

# # Close the session
# session.close()

In [9]:
# # Set up of the table in db and the file to import
# fileToRead2 = 'Instructions/Resources/hawaii_stations.csv'
# tableToWriteTo2 = 'station'

# # Panda to create a lovely dataframe
# df_to_be_written2 = pd.read_csv(fileToRead2)
# # The orient='records' is the key of this, it allows to align with the format mentioned in the doc to insert in bulks.
# listToWrite2 = df_to_be_written2.to_dict(orient='records')

# metadata2 = sqlalchemy.schema.MetaData(bind=engine,reflect=True)
# table2 = sqlalchemy.Table(tableToWriteTo2, metadata2, autoload=True)

# # Open the session
# Session = sessionmaker(bind=engine)
# session = Session()

# # Inser the dataframe into the database in one bulk
# conn.execute(table2.insert(), listToWrite2)

# # Commit the changes
# session.commit()

# # Close the session
# session.close()

In [14]:
stations_df.to_sql('station', con=engine, if_exists='append', index_label='id')

OperationalError: (sqlite3.OperationalError) table station has no column named station [SQL: 'INSERT INTO station (id, station, name, latitude, longitude, elevation) VALUES (?, ?, ?, ?, ?, ?)'] [parameters: ((0, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0), (1, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6), (2, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0), (3, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9), (4, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6), (5, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', 21.33556, -157.71139, 19.5), (6, 'USC00519281', 'WAIHEE 837.5, HI US', 21.45167, -157.84888999999998, 32.9), (7, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9), (8, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4))] (Background on this error at: http://sqlalche.me/e/e3q8)